defaults
    mode http
    option httpslog
    log stderr local0 debug
    timeout client 5s
    timeout server 5s
    timeout connect 5s

frontend bind-but-do-nothing
    bind 127.0.0.1:65432

backend be1
    # a port that have no service
    server srv1 127.0.0.1:8443 check ssl check-ssl check-alpn h2,http/1.1 check-sni repo.example.com check-ssl sni str(repo.example.com) verify none

    option httpchk GET /api/healthz HTTP/1.1
    http-check send hdr host repo.example.com
    http-check send-state
    http-check expect status 200
